.container {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-bottom: 0px;
}
[class*="col-"] {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
}

